/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
 
* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: red;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}
img {
	width: 50%;
	margin-right:2%;
	float:right;
}


form {
  margin-bottom: 25px;
  float:left;
  padding: 15px;
  background-color: DarkViolet ;
  display: inline-block;
  width: 50%;
  max-width: 760px;
  border-radius: 3px;
}

#result  {
	float:left;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px DarkMagenta ;
  cursor: pointer;
}

button:hover {
  background-color: DeepPink;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
